{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename = 'css/index.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename = 'css/notifications.css') }}"
/>
{% endblock %} {% block body %}

<div class="big-wrapper container">
  <h3 class="notifs-title">Notifications</h3>
  <div class="notifs-wrapper">
    {% for notification in notifications %}
    <div class="notification">
      <p>{{ notification }}</p>
    </div>
    {% else %}
    <p>There are no notifications</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
